# node_modules — пакеты зависимостей
node_modules/

# dist — собранный JS-код
dist/



# лог-файлы
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system (Mac/Windows)
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
